* {
  margin: 0;
  padding: 0;
  list-style: none;
  text-decoration: none;
  margin-bottom: 20px;
}

/* Menu Bar */

nav {
  height: 60px;
  background-color: white;
  font-family: 'Asap';
  margin-top: 10px;
}

nav:after {
  content: '';
  clear: both;
  display: table;
}

nav img {
  width: 180px;
  margin-top: 12px;
  margin-left: 11px;
  float: left;
}

nav ul {
  float: right;
  margin-right: 25px;
  list-style: none;
  position: relative;
}

nav ul li {
  display: inline-block;
  line-height: 80px;
  margin: 0 15px;
  z-index: 2;
}

nav ul li a {
  text-decoration: none;
}

nav ul ul {
  position: absolute;
  margin-left: -35px;
  top: 60px;
  opacity: 0;
  visibility: hidden;
  transition: top 0.3s;
}

nav ul li:hover > ul {
  top: 70px;
  opacity: 1;
  visibility: visible;
  font-size: 5px;
}

nav ul ul li {
  position: relative;
  margin: 0px;
  width: 150px;
  float: none;
  display: list-item;
  background-color: rgba(255, 255, 255, 0.96);
  color: #2b2b2b;
  text-align: center;
  list-style: none;
  margin-bottom: -30px;
}

nav ul ul li a {
  font-size: 14px;
  text-decoration: none;
}

nav ul li a {
  position: relative;
  color: #2b2b2b;
  font-size: 16px;
  padding: 5px 0;
  text-transform: uppercase;
}

nav ul li a:before {
  position: absolute;
  content: '';
  left: 0;
  bottom: 0;
  height: 3px;
  width: 100%;
  background-color: #2b2b2b;
  transform: scaleX(0);
  transform-origin: right;
  transition: transform 0.4s linear;
}

nav ul li a:hover:before {
  transform: scaleX(1);
  transform-origin: left;
}

label {
  float: right;
}

label #btn,
label #cancel {
  color: #2b2b2b;
  font-size: 30px;
  line-height: 80px;
  margin-right: 30px;
  cursor: pointer;
  display: none;
}

#check {
  display: none;
}

@media (max-width: 1100px) {
  label #btn {
    display: block;
  }

  body {
    width: 100%;
    padding: 10px;
  }

  nav ul {
    position: fixed;
    width: 100%;
    height: 100%;
    background-color: #f5f5f5;
    top: 80px;
    left: 100%;
    margin-left: -5px;
    text-align: center;
    transition: all 0.5s;
    max-height: calc(100% - 80px);
    overflow-y: auto;
    z-index: 2;
  }

  nav ul li {
    display: block;
    margin: 50px 0;
    line-height: 15px;
    border-bottom: 0px;
  }

  nav ul li a {
    font-size: 16px;
  }

  nav ul ul {
    top: 70px;
    position: absolute;
    border-top: none;
    float: none;
    display: contents;
    opacity: 1;
    visibility: visible;
  }

  nav ul ul li {
    position: static;
    display: block;
    float: none;
    width: 100%;
    left: 100%;
  }

  nav ul ul li a {
    line-height: 70px;
    font-size: 1px;
  }

  .show {
    cursor: pointer;
    padding: 0 20px;
    line-height: 70px;
    display: block;
  }

  #check:checked ~ ul {
    left: 0;
  }
  #check:checked ~ label #btn {
    display: none;
  }

  #check:checked ~ label #cancel {
    display: block;
  }
}

@media (max-width: 1100px) {
  nav ul li a {
    font-size: 16px;
  }

  nav ul ul li a {
    font-size: 14px;
  }

  .latest .latest-img-box {
    grid-template-columns: 50% 50%;
  }
}

@media (max-width: 740px) {
  .about .about-box1 p {
    font-size: 2.5vw;
  }

  .about .about-box2 {
    grid-template-columns: 100%;
    font-size: 2.5vw;
  }

  .about .about-box2 .text-container {
    margin-left: 0px;
  }
}

@media only screen and (min-width: 1100px) {
  #body-size {
    width: 85%;
    margin: auto;
  }

  .latest .latest-img-box {
    grid-template-columns: 25% 25% 25% 25%;
  }

  .about .about-box1 p {
    font-size: 1.2vw;
  }

  .about .about-box2 {
    grid-template-columns: 50% 50%;
    font-size: 1.2vw;
  }
  .about .about-box2 .text-container {
    margin-left: 10px;
  }
}

/* Home */

.slide {
  z-index: 1;
}
.slide .text {
  font-family: 'Roboto';
  text-shadow: 2px 2px 2px #ababab;
  color: black;
}

.latest {
  margin-top: 80px;
  font-family: 'Bebas Neue', sans-serif;
  color: #2b2b2b;
}

.latest .latest-img-box {
  display: grid;
  text-decoration: none;
}

.latest .latest-img-box .image-wrapper {
  position: relative;
  padding-inline: 2px;
}

.latest .latest-img-box .image-wrapper img {
  width: 100%;
  height: 20rem;
  display: block;
  object-fit: cover;
}

.latest .latest-img-box .image-wrapper .overlay {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  left: 0.5%;
  bottom: 100%;
  height: 0;
  width: 99%;
  overflow: hidden;
  background: rgba(2, 2, 2, 0.2);
  transition: all 0.35s ease-in-out;
  font-family: 'asap';
  color: #f5f5f5;

  /* Fallback for Safari on iOS 9+ */
  -webkit-backdrop-filter: brightness(90%);
  /* Standard syntax */
  backdrop-filter: brightness(90%);
}

.latest .latest-img-box .image-wrapper:hover .overlay {
  bottom: 0;
  height: 100%;
  margin-bottom: -1px;
}

.about {
  display: block;
}

.about h4 {
  margin-top: 80px;
  font-family: 'Bebas Neue', sans-serif;
  color: #2b2b2b;
}
.about .about-box1 {
  position: relative;
  overflow: hidden;
}

.about .about-box1 img {
  width: 100%;
  height: auto;
  display: block;
}

.about .about-box1 p {
  position: absolute;
  top: 50%;
  left: 40%;
  transform: translate(-90%, -50%);
  color: #e7e6e6;
  font-family: asap;
  text-align: left;
  max-width: 40%;
}

.about .about-box2 {
  display: grid;
}

.about .about-box2 img {
  width: 100%;
  height: auto;
}
.about .about-box2 .text-container {
  background-color: #e7e6e6;
  text-align: justify;
  justify-content: center;
  display: flex;
  flex-direction: column;
  padding: 7%;
}
.about .about-box2 .text-container p {
  font-family: asap;
  max-width: 90%;
}

/* list */
.favorite {
  margin-top: 80px;
}

.favorite img {
  width: 100%;
}

/* main category */

.main .thumbnail {
  position: relative;
  text-align: center;
}

.main .thumbnail img {
  width: 100%;
  height: auto;
}

.main .thumbnail h3 {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-family: 'Bebas Neue', sans-serif;
  color: white;
  font-size: 40px;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}

.link-sub {
  margin-right: 50px;
  text-decoration: none;
  text-transform: uppercase;
  font-family: 'asap';
  color: black;
  font-size: 16px;
}

.link-sub-last {
  text-decoration: none;
  text-transform: uppercase;
  font-family: 'asap';
  color: black;
  font-size: 16px;
}

.main .main-category .main-category-list img {
  width: 70%;
}

.sub-nav {
  text-align: center;
}
/* sub category */
.sub h2 {
  text-align: center;
  margin-top: 100px;
  /* text-transform: uppercase; */
  font-family: 'asap';
}

.sub .sub-nav {
  margin-top: 30px;
}
